{% extends '::base.html.twig' %}

{% block title %}Pièce introuvable{% endblock %}

{% block body %}
    <h1>Pièce introuvable</h1>
    
    <p class="alert alert-warning">
        Il semble que la pièce recherchée soit introuvable.
        Vous pouvez revenir à <a href="{{ path('vep_reservation_production_list') }}">la liste des pièces</a> ou à <a href="{{ path('homepage') }}">l'accueil</a>.
    </p>
{% endblock %}